name: flutter_dismissible_tile
description: A package to dismiss a tile with animated customizable background.
version: 1.0.0
homepage: https://github.com/roman-stakhovskyi/flutter_dismissible_tile

environment:
  sdk: '>=2.17.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
